* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}

.heading {
    color: red;
    border: 1px solid #939CA4;
}

p:first-of-type::first-letter {
    font-size: 30px;
}

.solution {
    color: #CC1C0D;
    font-weight: bold;
}

#testimonial1,
#testimonial2 {
    font-style: italic;
    margin: 50px;
}

a[href^="http"] {
    text-decoration: none;
    color: blue;
}

a[href^="http"]:link {
    color: blue;
    text-decoration: underline;
}

a[href^="http"]:visited {
    color: purple;
    text-decoration: none;
}

a[href^="http"]:hover {
    color: green;
    text-decoration: underline;
}

a[href^="http"]:active {
    color: red;
    text-decoration: none;
}

.list-items li {
    list-style: none;
}

.list-items li:first-child {
    color: blue;
}

.list-items li:last-child {
    color: red;
}